/* BASE */
html, body {
  margin: 0;
  height: 100%;
  font-family: system-ui, Arial;
  background: #f5f5f5;
  font-size: 40px;
}

.app {
  display: flex;
  flex-direction: column;
}


/* SLIDER */
.slider {
  height: 600px;
  position: relative;
  overflow: hidden;
}

.slider img {
  position: absolute;
  width: 100%;
  height: 600px;
  object-fit: cover;
}


/* BOTTOM NAV */
.bottom-nav {
  height: 60px;
  background: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.bottom-nav a {
  font-size: 60px;
  color: #555;
}

.bottom-nav a.active {
  color: #0d6efd;
  font-weight: 600;
}
